@media (max-width: 1300px) {

    .container {
        margin: 2rem auto 0 auto;
        max-width: 90%;
    }
}
@media (max-width: 1040px) {

    .container {
        margin: 2rem auto 0 auto;
        max-width: 90%;
    }

    .hero-main-text {
        font-size: 4.25rem;
    }

    .hero-text {
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .hero-section {
        flex-direction: column;
    }

    .button-group {
        gap: 0.5rem;
    }

    .btn-primary,
    .btn-secondary {
        padding: 1rem 2.875rem;
        border-radius: 3.125rem;
        cursor: pointer;
        font-family: "Inter", sans-serif;
        text-wrap: nowrap;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .child-habbit{
        flex-direction: column;
        gap: 3rem;
    }

    .BMI_CON{
        align-items: start;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 680px) {

    .container {
        margin: 2rem auto 0;
        max-width: 90%;
    }

    .menu {
        display: none;
        margin-top: 3rem;
    }

    .menu-bar {
        display: block;
    }

    .hero-main-text {
        font-size: 3rem;
    }

    .highlight-tex {
        font-size: 3rem;
    }

    .button-group {
        gap: 0.25rem;
    }

    .button-group button {
        padding: 1rem;
        font-size: 1rem;
        font-weight: normal;
    }

    .btn-primary,
    .btn-secondary {
        padding: 1rem 2.875rem;
        border-radius: 3.125rem;
        cursor: pointer;
        font-family: "Inter", sans-serif;
        white-space: nowrap;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .circle i {
        display: block;
        color: white;
        font-size: 20px;
    }

    .sub-containear {
        flex-direction: column;
        gap: 2.5rem;
    }

    .habbitText h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .join-plot {
        width: 100%;
        flex-direction: column;
    }

    .traning-text h1 {
        margin-top: 66px;
        width: 100%;
        font-size: 2rem;
    }

    .traning-text p {
        width: 100%;
        font-size: 14px;
    }

    .joinImg img {
        object-fit: contain;
    }

    .img-shocase {
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .item-2, .item-4 {
        grid-column: span 1;
    }

    .img-shocase > :nth-child(3),
    .img-shocase > :nth-child(6) {
        display: none;
    }

    .item-text {
        position: absolute;
        color: white;
        font-size:.7rem;
        font-weight: 400;
        line-height: 1;
        z-index: 2;
    }

    .BMI_CON{
        flex-direction: column;
        gap: 2rem;
    }
}