@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: Miama;
    src: url(./font/Miama.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    color:#dadada;
}

body,
html {
    height: 100%;
    width: 100vw;
    background-color: #000;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.logo {
    font-family: "Inter", sans-serif;
    font-size: 2.25rem;
    color: #E6533C;
    font-style: italic;
    text-transform: capitalize;
}

.menu-list {
    display: flex;
    gap: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    padding: 1rem 0.5rem;
    border: 1px solid #dadada;
    border-radius: 2rem;
}

.menu-list a {
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    text-transform: capitalize;
    color: white;
}

.menu-list a.active {
    background-color: #E6533C;
}

.menu-bar {
    display: none;
    width: 24px;
    color: white;
}

header {
    padding: 1rem 0 0 0;
    background-image: linear-gradient(180deg, #0B0B0B, #232323, #0B0B0B);
}

.hero-section {
    margin-top: 6rem;
    gap: 1.75rem;
}

.hero-text {
    width: 90%;
}

.text-14 {
    font-size: 0.9rem;
    opacity: 60%;
}

.text-18 {
    font-size: 1.2rem;
}

.gap-1 {
    gap: 1rem;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-main-text {
    font-family: "Inter", sans-serif;
    font-size: 4.875rem;
    color: white;
    line-height: 1;
    font-weight: 800;
}

.highlight-text {
    font-size: 4.875rem;
    color: white;
    line-height: 1;
    font-weight: normal;
    font-family: Miama;
}

.highlight-text h1 {
    line-height: 0.2;
}

.hero-text p {
    font-size: 1.2rem;
    color: white;
    opacity: 0.8;
    font-weight: 100;
    width: 70%;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.btn-primary,
.btn-secondary {
    padding: 1rem 2.875rem;
    border-radius: 3.125rem;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-wrap: nowrap;
    width: auto;
}

.btn-primary {
    color: white;
    background-color: #E6533C;
    border: 1px solid #111;
}

.btn-secondary {
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
}

.text-white {
    color: white;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.gap-large {
    gap: 1.75rem;
}

.img-con {
    width: auto;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-right {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
}

.tutorial {
    position: absolute;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: rgba(113, 111, 111, 0.252);
    backdrop-filter: blur(8px);
    border: 1px solid #fff;
    bottom: 5%;
    left: 0%;
    gap: 12px;
    color: #fff;
}


.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d97a0e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content h1 {
    font-size: 1.875rem;
}

.text-content h3 {
    font-size: 0.813rem;
    text-wrap: nowrap;
}

.circle i {
    display: none;
}

.vdo {
    position: absolute;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: rgba(113, 111, 111, 0.252);
    backdrop-filter: blur(8px);
    border: 1px solid #fff;
    top: 20%;
    left: 55%;
    gap: 12px;
    color: #fff;
}

.vdo h1 {
    font-size: 1.875rem;
}

.vdo h3 {
    font-size: 0.813rem;
    text-wrap: nowrap;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.625rem;
    margin-top: 7rem;
}

.habbitText {
    text-align: center;
    color: #fff;
}

.habbitText h1 {
    font-size: 3rem;
}

.habbitText p {
    font-size: 0.8rem;
    margin-top: 0.875rem;
}

.sub-containear {
    text-align: center;
    display: flex;
    gap: 2.5rem;
}

.habbit-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    margin-bottom: 2rem;
}

.habbit-con p {
    width: 70%;
}

.image-con {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    max-width: 10rem;
    height: auto;
}

.image-con img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.join-plot {
    padding: 1.8rem 2rem;
    background-color: #222222;
    border-radius: .7rem;
}

.joinImg {
    height: 50%;
    overflow: hidden;
    border-radius: .7rem;
}

.joinImg img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 55% 28%;
}

.jointext {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.jointext h1 {
    font-size: 2.5rem;
}

.jointext p {
    width: 80%;
    font-size: 14px;
    opacity: 60%;
}

.joinBtn {
    margin-top: 2rem;
}

.trainSection {
    color: white;
    margin-top: 6.5rem ;
}

.traning-text {
    text-align: left;
    margin-bottom: 2rem;
}

.traning-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.traning-text p {
    width: 60%;
    font-size: 1.125rem;
    line-height: 1.5;
}

.imgSection {
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.img-shocase {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    width: 100%;
    width: auto;
}

.img-shocase .item {
    position: relative;
    overflow: hidden;
}

.img-shocase .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-shocase .item:hover img {
    transform: scale(1.1);
}

.img-shocase .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.img-shocase .item:hover::after {
    opacity: 0.9;
}

.item-text {
    position: absolute;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.3;
    z-index: 2;
}

.one {
    bottom: 10%;
    left: 10%;
}

.top-left {
    top: 10%;
    left: 10%;
}

.top-right {
    top: 10%;
    right: 10%;
}

.item-2 {
    grid-column: span 2;
}

.item-4 {
    grid-column: span 2;
}

/* Custom background colors for the overlays */
.img-shocase .item:nth-child(1)::after {
    background-color: rgba(6, 255, 210, 0.3);
}

.img-shocase .item:nth-child(2)::after {
    background-color: rgba(255, 0, 0, 0.3);
}

.img-shocase .item:nth-child(3)::after {
    background-color: rgba(0, 0, 255, 0.4);
}

.img-shocase .item:nth-child(4)::after {
    background-color: rgba(0, 255, 255, 0.4);
}

.img-shocase .item:nth-child(5)::after {
    background-color: rgba(0, 255, 0, 0.4);
}

.img-shocase .item:nth-child(6)::after {
    background-color: rgba(0, 71, 255, 0.3);
}

.bmi-chart {
    color: #fff;
    text-align: center;
    max-width: 320px;
}

.bmi-chart h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.table-heading {
    color: #fff;
}

table {
    width: 100%;
    border: 0.1px solid #dadada;
    border-collapse: collapse;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: .1px solid #dadada;
}

th {
    font-weight: normal;
}

tr:last-child td {
    border-bottom: none;
}

.Calculate-bmi {
    color: white;
}

.BMI_CON {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #282828;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 6.5rem;
}

.Calculate-bmi h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Calculate-bmi p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #b3b3b3;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input,
.input-group select {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #383838;
    color: #ffffff;
}

.input-group input:focus {
    color: #fff;
}

input::placeholder {
    color: #999;
}

.calculator button {
    width: auto;
    padding: 1rem 6rem;
    background-color: #ff5630;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.calculator button:hover {
    background-color: #e64a19;
}

.team-table {
    margin-top: 6.5rem !important;
}

.team-text {
    text-align: center;
    color: white;
}

.team-section {
    width: 70%;
    margin: 0 auto;
}

.team-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.team-text p {
    width: 35%;
    margin: auto;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.team-member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    background-color: #282828;
    border-radius: 1rem;
    margin: 3rem 1rem 0rem 1rem;
}

.team-member .item {
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.team-member .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.footer {
    max-width: 70%;
    margin: 6.5rem auto 2rem auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    color: #b3b3b3;
}

.sub-footer {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.footer > hr {
    width: 100%;
    height: 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sub-footer .left {
    width: 50%;
}

.footer .left h1 {
    color: #e64a19;
    text-transform: capitalize;
    font-style: italic;
    font-size: 4rem;
    font-weight: 800;
}

.right{
    display: flex;
    gap: 4rem;text-wrap: nowrap;
}

.right-text ul li a{
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.notice{
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
